@font-face {
  font-family: "Lobster";
  src: url(fonts/Lobster.woff2) format("woff2");
}
@font-face {
  font-family: "segoe";
  src: url(fonts/SegMDL2.ttf);
}
@font-face {
  font-family: "ComicSans";
  src: url(fonts/ComicSans.ttf);
}
@import url("main.css");
@import url("titlebar.css");
@import url("editor.css");
@import url("color.css");
@import url("quill.min.css");
