#note,
#home {
  user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Arial";
}
#home {
  overflow-x: hidden;
  overflow-y: auto;
}
.help {
  user-select: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Lobster";
}
button {
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.start {
  z-index: 10;
}
span,
.button,
.buttons,
button {
  cursor: pointer;
}
.start div {
  font-family: "Lobster";
  color: rgba(255, 255, 255, 0.05);
  font-size: 50px;
  position: absolute;
  top: 40%;
  left: 15%;
  user-select: none;
}
#help {
  display: none;
}
#options {
  float: left;
  position: absolute;
  top: 45px;
  bottom: 100%;
  left: 82%;
  font-family: "segoe";
  color: #fff;
  user-select: none;
}
#options span {
  padding-right: 5px;
}
#about {
  display: none;
  background: #202020;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Lobster";
  z-index: 7;
  padding-top: 35px;
  text-align: center;
  color: #fff;
}
#about span {
  position: absolute;
  top: 45px;
  bottom: 100%;
  left: 5px;
  color: #fff;
  font-family: "segoe";
}

#helppage {
  font-family: "Lobster";
  padding-top: 20px;
  text-align: center;
  padding: 10px;
}

.help span {
  position: absolute;
  top: 5px;
  bottom: 100%;
  right: 5px;
  color: #fff;
  font-family: "segoe";
}

#content {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  color: #fff;
}
#notes {
  margin-top: 65px;
  height: 100%;
  z-index: 20;
}
#notes span {
  font-family: "segoe";
  padding: 5px;
}
#notes #notetext {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  width: 80%;
  word-wrap: break-word;
  min-height: 80px;
  user-select: text;
  box-shadow: rgba(0, 0, 0, 50%) 0 0.01px 5px;
}
#emoji {
  display: none;
}
#songselect {
  position: absolute;
  color: #000;
  top: 95px;
  left: 10px;
  z-index: 50;
  font-family: "segoe";
  font-size: 20px;
}
#videoselect {
  position: absolute;
  color: #000;
  top: 95px;
  z-index: 50;
  font-family: "segoe";
  font-size: 20px;
  left: 35px;
}
#selectmedia {
  display: none;
}
