.kwg-video-player-container, .kwg-video-player-container * {
    box-sizing: border-box;
}
.kwg-video-player-container {
    position: relative;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 0;
    background-color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kwg-video-player-container video {
    max-width: 100%;
    height: auto;
}
.kwg-video-player-container .videoControls {
    font-size: 12px;
}
.kwg-video-player-container.play .bigPlayBtn {
    opacity: 0;
    transform: scale(1.2);
}
.kwg-video-player-container .bigPlayBtn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 66px;
    height: 66px;
    opacity: 1;
    transition: all 0.4s;
    transform: scale(1);
    pointer-events: none;
}
.kwg-video-player-container .loader {
    border: 6px solid transparent;
    border-radius: 50%;
    border-top: 6px solid #fff;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    width: 70px;
    height: 70px;
    -webkit-animation: spinLoader 0.75s linear infinite; /* Safari */
    animation: spinLoader 0.75s linear infinite;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    box-shadow: 0 0 4px #000;
}

/* Safari */
@-webkit-keyframes spinLoader {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.kwg-video-player-container .progressWrapBarContainer {
    padding: 4px 5px 1px;
    margin: 0 -3px;
}
.kwg-video-player-container .progressBarContainer:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.25);
}
.kwg-video-player-container .progressBarContainer {
    position: relative;
    height: 15px;
    cursor: pointer;
}
/*.kwg-video-player-container .progressWrapBarContainer:hover .progressBarContainer {
    transform: scaleY(1.2);
    top: -0.5px;
}*/

.kwg-video-player-container .controls {
    /*margin: 20px 0 0;*/
}
.kwg-video-player-container .controls:after {
    content: '';
    clear: both;
    display: block;
}
.kwg-video-player-container .controls .leftControls {
    float: left;
    margin: -3px 0 0;
}
.kwg-video-player-container .controls .rightControls {
    float: right;
    padding: 2px 3px 0 0;
}
.kwg-video-player-container .controls .rightControls > div {
    margin-left: 10px;
}

.kwg-video-player-container .progressBarContainer .playProgress .playProgressHandle:before,
.kwg-video-player-container .volumeSlider .soundVolume .soundVolumeHandle:before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
}
.kwg-video-player-container .progressBarContainer .playProgress .playProgressHandle,
.kwg-video-player-container .volumeSlider .soundVolume .soundVolumeHandle {
    position: absolute;
    width: 21px;
    height: 21px;
    right: -10.5px;
    top: -3px;
    z-index: 1;
    /*opacity: 0;*/
    transition: all 0.2s;
    /*border: 1px solid #000;*/
    /*transform: scale(1.3);*/
}
.kwg-video-player-container .progressWrapBarContainer:hover .playProgress .playProgressHandle,
.kwg-video-player-container .volumePanel:hover .volumeSlider .soundVolume .soundVolumeHandle,
.kwg-video-player-container .progressWrapBarContainer .playProgress .playProgressHandle.draggingPlayHandle,
.kwg-video-player-container .volumePanel .volumeSlider .soundVolume .soundVolumeHandle.draggingVolumeHandle {
    opacity: 1;
}
/*.kwg-video-player-container .progressWrapBarContainer:not(:hover) .playProgress .playProgressHandle.draggingPlayHandle,
.kwg-video-player-container .volumePanel:not(:hover) .volumeSlider .soundVolume .soundVolumeHandle.draggingVolumeHandle {
    height: 10px;
    top: -2px;
}*/
.kwg-video-player-container .progressBarContainer .playProgress:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,1);
}
.kwg-video-player-container .progressBarContainer .playProgress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.kwg-video-player-container .progressBarContainer .hoverProgress:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.3);
}
.kwg-video-player-container .progressBarContainer .hoverProgress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.kwg-video-player-container .progressBarContainer .bufferedProgress:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.2);
}
.kwg-video-player-container .progressBarContainer .bufferedProgress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.kwg-video-player-container .timeDisplay {
    display: inline-block;
    margin: 0 0 0 10px;
}
.kwg-video-player-container .volumePanel {
    display: inline-block;
}
.kwg-video-player-container .volumePanel svg {
    vertical-align: middle;
    margin: 0 5px;
}
.kwg-video-player-container .volumePanel.mute .soundVolume {
    opacity: 0;
}
.kwg-video-player-container .volumePanel.mute svg path {
    opacity: 0.5;
}
.kwg-video-player-container .volumePanel.mute svg path + path, .kwg-video-player-container .volumePanel.mute svg path + path +path {
    opacity: 0!important;
}
.kwg-video-player-container .volumePanel.level0 path + path , .kwg-video-player-container .volumePanel.level0 path + path + path  {
    opacity: 0;
}
.kwg-video-player-container .volumePanel.level1 path + path  {
    opacity: 0.5;
}
.kwg-video-player-container .volumePanel.level1 path + path + path  {
    opacity: 0;
}
.kwg-video-player-container .volumePanel.level2 path + path  {
    opacity: 1;
}
.kwg-video-player-container .volumePanel.level2 path + path + path  {
    opacity: 0;
}
.kwg-video-player-container .volumePanel.level3 path + path  {
    opacity: 1;
}
.kwg-video-player-container .volumePanel.level3 path + path + path  {
    opacity: 0.5;
}
.kwg-video-player-container .volumePanel.level4 path + path  {
    opacity: 1;
}
.kwg-video-player-container .volumePanel.level4 path + path + path  {
    opacity: 1;
}
.kwg-video-player-container .volumeSlider:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.3);
}
.kwg-video-player-container .volumeSlider {
    display: inline-block;
    width: 70px;
    height: 15px;

    cursor: pointer;
    position: relative;
    vertical-align: middle;
    /*border: 1px solid #000;*/
    /*background-color: #000;*/
}
/*.kwg-video-player-container .volumePanel:hover .volumeSlider {
    transform: scaleY(1.2);
    top: -0.5px;
}*/
.kwg-video-player-container .volumeSlider .soundVolume:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,1);
}
.kwg-video-player-container .volumeSlider .soundVolume {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

}
.kwg-video-player-container .volumeSlider .soundHover:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.4);
}
.kwg-video-player-container .volumeSlider .soundHover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.kwg-video-player-container .btnPlayPause svg {
    vertical-align: middle;
}
.kwg-video-player-container .btnPlayPause {
    background: none;
    border: none;
    width:32px;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    outline: none;
    line-height: 1;
    padding: 3px 8px 3px;
}
.kwg-video-player-container .fullscreenButton {
    display: inline-block;
}
.kwg-video-player-container .fullscreenButton .full_screen_off {
    display: none;
}
.kwg-video-player-container.fullscreen .fullscreenButton .full_screen_on {
    display: none;
}
.kwg-video-player-container.fullscreen .fullscreenButton .full_screen_off {
    display: block;
}
.kwg-video-player-container .settingsWrap {
    display: inline-block;
    position: relative;
}
.kwg-video-player-container .settingsWrap .settingsMenu.open,
.kwg-video-player-container .settingsWrap .speedMenu.open {
    display: table;
}
.kwg-video-player-container .settingsWrap .settingsMenu,
.kwg-video-player-container .settingsWrap .speedMenu {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 100%;
    right: 0;
    display: none;
    white-space: nowrap;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
}
.kwg-video-player-container .settingsWrap .settingsMenu li.speedOption .item-content:after,
.kwg-video-player-container .settingsWrap .settingsMenu li.qualityOption .item-content:after {
    content: '\203A';
    font-size: 22px;
    line-height: 12px;
    vertical-align: -2px;
    display: inline-block;
    padding-left: 4px;
}
.kwg-video-player-container .settingsWrap .settingsMenu li,
.kwg-video-player-container .settingsWrap .speedMenu li {
    display: table-row;
}
.kwg-video-player-container .settingsWrap .speedMenu li.back:before {
    content: '\2039';
    font-size: 22px;
    line-height: 12px;
    vertical-align: -2px;
    display: inline-block;
    padding-right: 4px;
}
.kwg-video-player-container .settingsWrap .settingsMenu li:hover,
.kwg-video-player-container .settingsWrap .speedMenu li:hover {
    background-color: rgba(0,0,0,.7);
}
.kwg-video-player-container .settingsWrap .settingsMenu li span {
    display: table-cell;
    padding: 10px 10px;
}
.kwg-video-player-container .settingsWrap .speedMenu li {
    padding: 5px 20px 5px 7px;
    display: block;
    position: relative;
}
.kwg-video-player-container .settingsWrap .speedMenu li.active:after {
    content: '\2713';
    position: absolute;
    top: 4px;
    right: 5px;
}
.kwg-video-player-container .settingsWrap .speedMenu.open ~ .settingsMenu.open {
    display: none;
}
.kwg-video-player-container {
    fill:#fff;
}


.kwg-video-player-container.hover .videoControls, .kwg-video-player-container:not(.fullscreen):hover .videoControls {
    display: block;
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
}
.kwg-video-player-container .videoControls {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    position: absolute;
    height: 50px;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity .50s;
    transition: opacity 0.50s;
}

.kwg-video-player-container.fullscreen {
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
}
.kwg-video-player-container.fullscreen video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}
.kwg-video-fullscreen {
    overflow: hidden;
}


:-webkit-full-screen .kwg-video-player-container {
    /* properties */
}

:-moz-full-screen .kwg-video-player-container {
    /* properties */
}

:-ms-fullscreen {
    /* properties */
}

:full-screen .kwg-video-player-container { /*pre-spec */
    /* properties */
}

:fullscreen .kwg-video-player-container { /* spec */
    /* properties */
}

::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-enclosure {
    display:none !important;
}
